.carrito {
  background-color: #d3dcdf;
  max-width: 470px;
  margin: 0 auto;
}
.general {
  padding: 20px 30px;
}
.carrito h1{
  font-size: 2.5em;
}
.carrito h2{
  font-size: 2em;
}
.carrito h4{
  font-size: 1.5em;
}
.carrito h5{
  font-size: 1.2em;
}
.carrito p{
  font-size: 1.4em;
}
.carrito span{
  font-size: 2em;
}
.carrito a{
  font-size: 1.2em;
}


.carrito .encabezado {
  background-color: #d3dcdf;
  height: 30vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: solid 1px black;
  
}

.carrito .titulo {
  padding: 5px;
  margin-bottom: 10px;
}

.carrito button {
  background-color: #bc0000;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 25px;
  margin: auto; 
}

/*=====ARTICULOS=======*/
.carrito article {
  display: flex;
  flex-direction: column; 
  padding: 15px 15px;
  border-bottom: solid 1px black;
  height: 90vh;
}
.carrito .article {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.carrito .imagen {
  display: flex;
  justify-content: center;
  height: 60%;
  width: 100%;
}
.carrito .imagen img {
  height: 100%;
  width: 80%;
}
.carrito article .descripcion {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  
  
}

.carrito .precio {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  margin-left: 10px;
  
}

.carrito .precio .subrayado {
  display: flex;
  width: 100%;
  justify-content: space-between;
    
}

/*----------    SECTION LIQUIDACION -------------*/
.carrito .facturacion{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
 /*  height: 70vh; */
  }

.carrito .tarjetas {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
  width: 100%;
  height: 50%; 
  padding: 10px 10px;
}
.carrito .descuento{
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
  margin-bottom: 10px;
}

.carrito .img-tarjetas{
  width: 100%;
  height: 60%;
  display: flex;
  align-items: flex-end;
  
}
.carrito .imagen-tarjetas{
  width: 100%;
  height: 100%;
   
}

.carrito .liquidacion{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.carrito .subtotal{
  width: 100%;
  height: 30%;
  background-color: #c8ccce;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.carrito .total-general {
  background-color: #bebfbf;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 70%;
  padding-bottom: 15px
  
}
.carrito .total{
  display: flex;
  justify-content: space-between;
}
.carrito .cuotas{
  display: flex;
  justify-content: space-between;
}
/*--------------LIQUIDACION----------*/

/*========================================================================*/
/*=====================MEDIAS QUERIES====================*/

/*=====TABLET====*/
@media (min-width:768px) {

}

/*====DESKTOP====*/
@media (min-width:1024px) {
 .carrito {
  max-width: 1300px;
  margin: 0 auto;
}
.general {
  padding: 30px 80px;
}
.carrito .encabezado {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
 
  }

.carrito button {
  margin-bottom: 10px;
}

/*=====ARTICULOS=======*/
.carrito article {
  flex-direction: row;
  justify-content: space-between;
  height: 60vh;
}
.carrito .article {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: row;
}

.carrito .imagen {
  flex: none;
  width: 30%;
  height: 100%;
  padding-right: 20px;
}
.carrito .imagen img {
  height: 100%;
  width: 100%;
}

.carrito article .descripcion{
  width: 70%;
  height: 100%;
  padding-right: 20px;
  border-right: solid 1px black;
  
}

.carrito .precio {
  justify-content: space-between;
  align-items: center;
  width: 35%;
  height: 100%;
  
}

.carrito .precio .subrayado {
  align-items: center;
  border-bottom: solid 1px black;
}

/*----------    SECTION LIQUIDACION -------------*/
.carrito .facturacion{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 35vh;

}

.carrito .tarjetas {
  flex-direction: row;
  height: 100%;
  width: 63.5%;
  padding: 10px 10px 10px 15px;
}
.carrito .descuento{
  width: 100%;
  height: 30%;
  flex-direction: row;
  justify-content: space-between;
}

.carrito .img-tarjetas{
   height: 70%;
 
}
.carrito .imagen-tarjetas{
 height: 80%;
   
}

.carrito .liquidacion{
  width: 36.5%;

}

.carrito .subtotal{
  margin: 0;
}


}