

.producto-article{
   background-color: #152034;
   font-family: "Ubuntu";
   font-weight: 300;
    display: flex;
    flex-direction: column;
    color: white;
       
   }

.producto-article-imagen{
    width: 100%;
    max-width: 560px; 
    margin: 0 auto;
    text-align: center;
    
}
.producto-article-imagen img{
    width: 80%;
    border-radius: 12px;
}
.textodescripcion{
    text-align: center;
}
.producto-article-cont-descripcion1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    max-width: 560px; 
    margin: 0 auto;
}
.producto-article-cont-descripcion1 p{
    font-size: 1rem;
    padding: 0 20px;
}
.producto-article-cont-descripcion1 h5{
    color: #b17578;
}
.producto-article-cont-descripcion1 span{
    font-size: 3rem;
}
    
.producto-article-cont-descripcion-comprar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
.metodos img{
    height: 2rem;
}
.producto-article-cont-descripcion-comprar-button{
    font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  border-radius: 16px;
  border: none;
  padding: 0.5rem;
  width: 9rem;
  background-color: var(--color-red);
  color: white;
  margin-bottom: 1rem;
    
}
.producto-article-cont-descripcion-comprar-button:hover{
  box-shadow: 0px 0px 10px 4px var(--color-red);
}
.fa-shopping-cart{
    padding-right: 15px;
}
.producto-article-cont-descripcion-comprar-imagen{
    width: 100%;
    
}
.producto-article-cont-descripcion-comprar-imagen img{
    width: 100%;
} 




/*===============TABLET================*/
@media(min-width:768px) {

    body{
        font-size: 15px;
    }
    .producto-article{
    padding: 20px 160px 50px;
    max-width: 900px;
    }


}

/*================DESKTOP================*/
@media (min-width:1024px) {
   .descripcion-producto{
        font-size: 14px;
        background-color: #152034;
    } 
   
    .producto-article{
    flex-direction: row;
    margin: 0 auto; 
    height: 80vh;
    border-radius: 5px;       
   }
   .producto-article-imagen{
    width: 40%;
    height: 90%;
    
}
.producto-article-cont-descripcion{
    width: 60%;
    padding: 40px 80px 10px 100px;
}
.producto-article-cont-descripcion1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    height: 55%;
}
.producto-article-cont-descripcion1 p, h6, h5{
    font-size: 18px;
    padding: 0;
}
.producto-article-cont-descripcion1 h6{
    margin-bottom: 50px;
}
.producto-article-cont-descripcion-comprar{
    justify-content: flex-start;
    margin: 25px 0 0;
    padding-left: 10px;
    height: 35%;
}
.producto-article-cont-descripcion-comprar-button{
    width: 11rem;
    height: 6rem;
}
.producto-article-cont-descripcion-comprar-button h3{
    font-size: 2.3rem;

}
.producto-article-imagen img{
    width: 24rem;
}
}



