header{
    background-color:var(--color-oxfordBlue);
    margin: 0 !important;
    padding: 0 !important;
}


@media (max-width: 768px){
    .navegacion {
        display: inline !important;
    
    }
    header img{
        width: 30%;
        height:50%;
    }
    .menu{
        display: none;
    }
}