header{
    background-color:var(--color-oxfordBlue);
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}


@media (min-width: 319px){
    header nav{
        display: flex !important;
    }
    header{
        border-bottom: 3px solid black;
    }
   
    .busqueda{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
    .imagenNavegacion{
        width: 20% !important;
        border-right: 3px solid black;
    }
    .imagenNavegacion img{
        width: 100% !important;
    }
  
    .botonderegistrarse{
        align-items: center;
        
        align-self: center;
        height: 100% !important;
        
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        border-left: 3px solid black;
    }
    .botonderegistrarse button{
        height: 20% !important;
        

    }
    .menu{
        display: none;
    }
    .menumobile{
        background-color: transparent !important;
        border: none;
    }
    #dropdownMenuButton1{
        height: 20px !important;
        box-shadow: none !important;
    }
    .fa-shopping-cart{
        color: white;
    }
    .re{
        display: none;
    }
    

    /* .navegacion {
        display: block !important;
        height: 30% !important;
    
    }
    header img{
        width: 20%;
        height:30% !important;
        border-right: 3px solid black;

    }
    .menu{
        display: none;
    }
    .navegacion .btn{
        color: white;
        
        font-size: 0.5rem !important;
    }
    .navegacion .btn-secondary{
        border: none !important;
        background-color:var(--color-oxfordBlue);

        font-size: 1.5rem !important;}
        .navegacion .dropdown-toggle{
        font-size: 1rem !important;
        background-color:var(--color-oxfordBlue);

    }
    .navegacion .dropdown-menu{
        font-size: 12px !important;
        background-color:var(--color-oxfordBlue);
    }
    .fa-shopping-cart{
        color: white;
    }
    .registrarse{
        width: 100% !important;
        height:100% !important;
        background-color: transparent;
        text-decoration: none;
        color: white;
        border: none;
        padding-top: 40% !important;
    }
    .buscador{
        width: 60%;
        display: inline !important;
    }
    .botonderegistrarse{
        display: inline-block !important;
        border-left: 3px solid black;
        height: 100% !important;
        padding-left: 2.5%;
        padding-top: 5%;
    }
    .unidos{
        display: flex;
    }
    input{
        width: 40%;
    }
    .busqueda{
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-around !important;
    } */
}
@media (min-width: 768px){

    

.menumobile{
    display: none;
}
.menu{
    display: inline !important;
}
.menus ul{
    padding-left: 0 !important;
    

}
.resto {
    padding-left: 0 !important;
    display: flex !important;

}
.menu{
    display: flex;
    justify-content: center;
    border-top: 3px solid black;
}

header img{
    width: 20%;
    height: 30%;

  
}

.buscador input{
    height: 30px;
    border-radius: 15px;
}
.registrarse{
    background-color: transparent;
    text-decoration: none;
    color: white;
    width: 15%;
    height: 50%;
    border: none;
    font-size: 2rem;
    text-align: center !important;
    margin-left: 4rem;
    padding-top: 20%;
    padding-bottom: 10%;



}
.linea{
    display: inline !important;
    border-left: 3px solid black !important;
}
.buscador{
    display: flex;
    height: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    width: 60%;

}
.botonderegistrarse{
    width: 20% !important;
    

}

.resto button{
    background-color: black !important;
    font-size: 1.3rem;
}
.menus .btn{
    
    background-color: black !important;
    font-size: 1.3rem;


}
input{
    width: 70%;
}

.menu{
    width: 100% !important;
    margin: auto !important;
    display: flex !important;
}
header .botonderegistrarse a{
    display: block;

}
#dropdownMenuButton1{
    height: 100% !important;
}
.re{
    display: block;
    font-size: 3rem;
}


}