@import url("./general.css");

.login {
  background-color: var(--color-oxfordBlue);
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.login .login-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

/* === titulo === */
.login-main .titulo {
  font-size: 2rem;
  color: var(--color-independence);
}

.login-main .titulo h2 {
  font-weight: 400;
}

/* === ingresa-con-google === */

.login-main .ingresa-google {
  height: 2rem;
  font-weight: 400;
  color: #fff;
  font-size: 1.6rem;
  margin-top: 4rem;
}

.login-main .ingresa-google a {
  color: var(--color-red);
}

/* === iniciar-sesion === */
.login-main .iniciar-sesion .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-gainsboro);
  font-size: 1.4rem;
  margin-top: 5rem;
}

.login-main .iniciar-sesion input {
  margin: 0.5rem 0 1.7rem 0;
  border-radius: 1rem;
  padding: 0.3rem;
  width: 100%;
}

.login-main .iniciar-sesion input:active {
  outline: none;
}
.login-main .iniciar-sesion input:focus-visible {
  outline: none;
  border: 2px solid var(--color-red);
}

/* === recuperar-clave === */
.login-main .iniciar-sesion .recuperar-cont {
  font-size: 1rem;
  color: var(--color-independence);
  margin-bottom: 2rem;
}
.login-main .iniciar-sesion .recuperar-cont a {
  color: var(--color-cordovan);
}

/* === ingresa === */
.login-main .btn-ingresa {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  border-radius: 16px;
  border: none;
  padding: 0.5rem;
  width: 9rem;
  background-color: var(--color-red);
  color: white;
  margin-bottom: 1rem;
}
.login-main .btn-ingresa:hover{
   
  box-shadow: 0px 0px 10px 4px var(--color-red);
}



/* === logo === */
.login img {
  width: 15rem;
}

/* ======= TABLET ======= */
@media (min-width: 768px) {
  .login {
    background-color: var(--color-independence);
    width: 100vw;
    height: 100vh;
    display: flex;
  }

  .login .login-main {
    background-color: var(--color-oxfordBlue);
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    border-radius: 20px;
    height: 66vh;
    max-width: 55vw;
  }

  /* === logo === */
  .login .cont-img {
    height: 95%;
    width: 27%;
  }

  .login img {
    width: 20rem;
    margin-left: -4rem;
  }

  /* === cont-login === */

  .login .cont-login {
    height: 100%;
    width: 70%;
    margin-left: -2rem;
  }

  .login-main .titulo h2 {
    width: 66%;
  }

  /* === ingresa-con-google === */

  .login-main .ingresa-google {
      width: 78%;

  }

  /* === iniciar-sesion === */
  .login-main .iniciar-sesion .inputs label {
    width: 100%;
    text-align: left;
  }

  .login-main .iniciar-sesion input {
    width: 80%;
    margin-left: -8rem;
  }


    /* === .recuperar-cont === */
  .login-main .iniciar-sesion .recuperar-cont {
        margin: 0 11rem 2rem -3rem;
    
    }


    /* === ingresa === */
    .login-main .btn-ingresa {
    font-size: 3rem;
    padding: 0.8rem;
    width: 10rem;
    margin-left: -10rem;
  }
  
}

/* === ESCRITORIO === */

@media (min-width: 1024px) {
  .login .login-main{
    max-width: 40%;
    max-height: 62vh;
  }


}