@import url("./general.css");

.registro{
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--color-oxfordBlue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* === logo-info === */

.registro .logo-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}


/* === logo === */

.registro .logo-info img{
    width: 31%;
    height: 90%;
    margin-left: -1rem;
}


/* === info === */

.registro .logo-info .info{
    width: 70%;
    margin-right: 0.5rem;
}

.registro .logo-info .info h6{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.registro .logo-info .info p{
    font-size: 1.4rem;
    font-weight: 300;
}

.registro .registrarse{
    width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* === cuenta-google === */

.registro .cuenta-google{
    margin: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.registro .cuenta-google a{
    color: var(--color-red);
}



/* === inputs === */

.registro .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    
}

.registro .inputs label{
    font-size: 1.6rem;
}

.registro .inputs input{
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    padding: 0.2rem;
}

.registro .inputs input:hover{
    outline: none;
}
.registro .inputs input:focus-visible{
    outline: none;
    border: 2px solid  var(--color-red);
}


/* === btn-registrarse === */

.registro .btn-registrarse{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    border-radius: 16px;
    border: none;
    padding: 0.8rem;
    background-color: var(--color-red);
    color: white;
    margin-bottom: 1rem;
    
}
.registro .btn-registrarse:hover{
   
    box-shadow: 0px 0px 10px 4px var(--color-red);
}


/* === logueate === */

.registro .logueate{
    margin:2rem;
    font-size: 2.2rem;
    font-weight: 400;
    text-align: left;
}

.registro .logueate a{
    color: var(--color-red);
}

/* ======= TABLET ======= */
@media (min-width: 768px){
    
    .registro-body {
        background-color: var(--color-independence);
        width: 100vw;
        height: 100vh;
        display: flex;
    }
    
    
    .registro{
        margin:auto;
        border-radius: 20px;
        height: 81vh;
        max-width: 80vw;
        flex-direction: row;
        justify-content: space-between;
    }
    

    /* ===== logo-info ===== */

    .registro .logo-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        width: 45%;
        height: 100%;
    }
    
    /* === logo === */
    .registro .logo-info img {
        width: 100%;
        height: 30rem;
        margin-left: -14rem; 
        
    }
    
    
    /* === info === */
    .registro .logo-info .info {
        width: 100%;
        margin-left: 4rem;
    }


    .registro .logo-info .info h6{
        margin: 2rem 0;
    }

    /* ===== registrarse ===== */
    
    .registro .registrarse{
        margin: 0;
        padding: 0;
        width: 56%;
        height: 100%;
        justify-content: center;
    } 

       
    /* ===== cuenta-google ===== */
    .registro .cuenta-google {
        margin: 2rem;
        font-size: 1.6rem;
        font-weight: 400;
        height: 4rem;
    }


    /* ===== label ===== */
    .registro .inputs label {
        font-size: 1.6rem;
        width: 67%;
        text-align: left;
        margin-bottom: 0.5rem;
    }

   /* ===== inputs ===== */
   .registro .inputs{
       width: 90%;
    }
  
    
    /* ===== logueate ===== */
    .registro .logueate {
        font-size: 2rem;
     
    }
}

/* ====== DESKTOP ======*/

@media (min-width: 1024px){
      .registro{
        max-height: 73vh;
    }



    .registro .inputs input:focus-visible{
    }

    .registro .logo-info img {
        width: 90%;
        height: 25rem;
        margin-left: -14rem; 
        
    }
    
} 