<header> 

        <nav>

        <section class="busqueda">


         
          <div class="imagenNavegacion ">
            <img class="animate__animated animate__fadeInLeftBig" src="/images/torre.png" alt="">
        </div>



            <div class="buscador">
              <form action="/productos/search" type="search">
                <button type="submit"><i class="fas fa-search"></i></button>

              <input type="text" name="search" placeholder="   Busca tus productos!">
            </form>
          </div>



           
          <div class="botonderegistrarse" >
            <div class="enlinea">
            <% if (locals.isLogged) { %>
          
                         
					<!-- COMO ESTA SETEADO EN FALSE EN EL MIDDLEWARE userLogged ME VA A MOSTRAR ESTO -->
					<li class="nav-item dropdown" style="margin-top: 0px;">
						<a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="/images/users/<%=locals.user.imagenUsuario %>" width="40" style="border-radius: 100%;">
              <br>
              Hola <%= locals.user.usuario %> 
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/users/perfil" style="color:white; font-weight: 700;">Mi perfil</a>
							<li><hr class="dropdown-divider"></li>
							<a class="dropdown-item" href="/users/logout" style="color:white; font-weight: 700;">Cerrar sesion</a>
						</ul>
					</li>
           
          

            <% } else { %>   
            
              <div class="referencias animate__animated animate__rubberBand">
              <a class="re" href="/users/registro"> Registrate</a>
              <a class="re" href="/users/login">Ingresá</a>
              </div>
            <% } %>
            </DIV>
            <div class="imagen-carrito">
              <a href="/productos/carrito/0"><i class="fas fa-shopping-cart animate__animated animate__fadeInRightBig separate"></i></a>
            </div>
              

            <div class="menuMobile">
                <button class="btn btn-secondary dropdown-toggle menumobile" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        ☰
                </button>

            
                
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                      <li> <a href="/"><button type="button" class="btn btn-secondary">HOME</button></a>
                      </li>  
                      <li> <a href="/novedades"><button type="button" class="btn btn-secondary">NOVEDADES</button></a>
                        </li>
                        <li> <a href="/productos"><button type="button" class="btn btn-secondary">PRODUCTOS</button></a>
                        </li>
                        <li> <a href="/contactos"><button type="button" class="btn btn-secondary">CONTACTOS</button></a>
                        </li>
                        <li class="nenes"> <a href="plays/kids"><button type="button" class="btn btn-secondary ">KIDS</button></a></li>
                        <li> <a href="/plays/quiz"><button type="button" class="btn btn-secondary">QUIZ</button></a> </li>
                        <li> <a href="/users/registro"><button type="button" class="btn btn-secondary">REGISTRARSE</button></a>
                        </li>
                        <li> <a href="/users/login"><button type="button" class="btn btn-secondary">LOGUEARSE</button></a>
                        </li>
                        <li> <a href="/nosotros"><button type="button" class="btn btn-secondary">NOSOTROS</button></a> </li>
                        <% if (locals.isLogged && locals.user.rol === 'admin') { %>
                          <li> <a href="/productos/carga"><button type="button" class="btn btn-secondary">CARGAR </button></a> </li>
                        <% } %>
                        
                       
                    </ul>
             </div>
    
    
               
            </div>

            </div>



        </section>
        </nav>

</header> 
    <section class="menu">
          <div>
            <ul class="resto">

                <li> <a href="/"><button type="button" class="btn btn-secondary">HOME</button></a>
                </li>
               
            </ul>
        </div>
            <div class="menus">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        PRODUCTOS
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/productos#ROPA">ROPA</a></li>
                        <li><a class="dropdown-item" href="/productos#MERCHANDISING">MERCHANDISING</a></li>
                        <li><a class="dropdown-item" href="/productos#COMICS">COMICS</a></li>
                        <li><a class="dropdown-item" href="/productos#FIGURAS">FIGURAS</a></li>
                        <% if (locals.isLogged && locals.user.rol === 'admin') { %>
                        <li> <a class="dropdown-item"  href="/productos/carga"> CARGAR </a> </li>
                        <% } %>
                    </ul>
                </div>
            </div>

                <div>
                    <ul class="resto">

                        <li> <a href="/novedades"><button type="button" class="btn btn-secondary">NOVEDADES</button></a>
                        </li>
                        <li> <a href="/contactos"><button type="button" class="btn btn-secondary">CONTACTOS</button></a>
                        </li>
                        <li> <a href="/plays/kids"><button type="button" class="btn btn-secondary">KIDS</button></a></li>
                        <li> <a href="/plays/quiz"><button type="button" class="btn btn-secondary">QUIZ</button></a> </li>
                        <li> <a href="/nosotros"><button type="button" class="btn btn-secondary">NOSOTROS</button></a>
                        
                        </li>
                    </ul>
                </div>
            </div>
    </section>