<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body class="quizz">
   <p>compra finalizada</p>
   <a href="/">volver al home</a>
              









    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
