<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <main class="descripcion-producto">
      <article class="producto-article">
        <div class="producto-article-imagen">
          <p>inicio>Marvel>Spiderman>Figura tanto por cuanto</p>
          <img src="/img/figuras/muñeco-SpiderMan.jpg" />
        </div>
        <div class="producto-article-cont-descripcion">
          <div class="producto-article-cont-descripcion1">
            <div class="textodescripcion">
              <h4>HASBRO</h4>
              <h6>Figura Spider Man-Home Coming</h6>
              <h5>Envio Gratis</h5>
            </div>

            <div>
              <span>$1000</span>
              <p>Ver cuotas</p>
            </div>
          </div>
          <div class="producto-article-cont-descripcion-comprar">
            <button class="producto-article-cont-descripcion-comprar-button">
              <h3><i class="fas fa-shopping-cart"></i> Comprar</h3>
            </button>
          </div>
          <div class="tarjetadeladescripciondelproductoalfinal">
            <img src="../img/tarjetas.PNG" alt="" />
          </div>
        </div>
      </article>
      <div class="producto-article-cont-descripcion-comprar-imagen">
        <img class="metodos" src="/img/tarjetas.PNG" />
      </div>
    </main>
    <%- include('./partials/footer') %> <%- include('./partials/scripts') %>
  </body>
</html>
