<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body class="login">
    <h1 class="titulo">Login</h1>
    <main class="login-main">

      <form action="/users/login" method="POST" class="inputs" enctype="multipart/form-data" novalidate> 
        <h4 class="ingresa-google">Ingresa con <a href="#">Google</a></h4>
        <div>
          <input type="text" id="usuario" name="email" placeholder="Email" value="<%= locals.errors && locals.old.email ? old.email : null %>"/>
          <span class="tex-danger"><%= locals.errors && locals.errors.email ? errors.email.msg : null %></span>
        </div>
        <div>
          <input type="password" id="contrasena" name="password" placeholder="Contraseña" />
        </div>
        <div class="recordarme">
          <input type="checkbox" name="recordarme" id="recordarme" />
          <label for="recordarme">Recordarme</label>
        </div>
        <p class="recuperar-cont">
          tus credenciales fueron robadas por hydra?...
          <a href="#">Recuperalas</a>
        </p>
        <button class="btn-ingresa">INGRESA</button>
      </form>
      </section>
      <div class="pruebass">
        <a href="/" class="cont-img">
          <img src="/images/torre.png" alt="logo-torre" />
        </a>
      </div>
    </main>
  </body>

</html>