<html>

<%- include('./partials/head') %>
<div class="col-12 col-md-6 col-lg-6 text-center d-flex flex-column justify-content-center">
    <h3>Cambiar contraseña</h3>
    <form class="text-center d-flex flex-column align-items-center" action="/users/save/<%= user.id %>?_method=PUT"
    method="POST" novalidate enctype="multipart/form-data" >
        <div class="mb-3 w-50 ">
            <label for="exampleInputPassword1" class="form-label ">Nueva contraseña</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            <span class="text-danger small">
                <%= error && error.msg ? errores.password.msg :
                    null %>
            </span>
        </div>
        <div class="mb-3 w-50">
            <label for="exampleInputPassword1" class="form-label">Repetir contraseña</label>
             <input type="password" class="form-control" name="repetir" id="exampleInputPassword1">
              <span class="text-danger small">
            <%= locals.errores && locals.errores.password2 ? errores.password2.msg :
                null %>
            </span>
        </div>


        
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
</html>
