<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito de compras</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="carrito">
   <div class="general">
    <header>
        <div class="titulo">
            <h2>Carrito de compras-productos torre marvel</h2>
            <h4>2 Productos</h4>
        </div>
        <div>
            <button>PROCEDER A LA COMPRA</button>
        </div>
    </header>
    <main>
        <article>
            <img src="/images/Muñecos/Muñeco-hulk.jpg" alt="">
            <div class="descripcion">
            <h2>Hasbro</h2>
            <p>Figura tanto por cuanto</p>
            <p>Entregado por Torre Marvel</p>
            <span>Eliminar producto</span>
            </div>
            <div class="precio">
                <p>Precio unitario:</p>
                <Span>$1000</Span>
            </div>
        </article>
    </main>
   </div>
    
</body>
</html>