<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito de compras</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="carrito">
    <header>

        <nav>

        <section class="busqueda">


            <div class="imagenNavegacion">
                <img src="/img/torre.png" alt="">
            </div>


            <div class="buscador">
                <button><i class="fas fa-search"></i></button>
                <input type="text" placeholder="   Busca tus productos!">
            </div>



            <div class="botonderegistrarse" >
              <DIV class="enlinea">
                <div class="referencias">
                <a class="re" href="/registro"> Registrate</a>
                <a class="re" href="/comprar">Ingresá</a>
              </div>
              <div>
                <i class="fas fa-shopping-cart"></i>
              </div>
              </DIV>

            <div class="menuMobile">
                <button class="btn btn-secondary dropdown-toggle menumobile" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        ☰
                </button>
            
                
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                        <li> <a href="/novedades"><button type="button" class="btn btn-secondary">NOVEDADES</button></a>
                        </li>
                        <li> <a href="/contacto"><button type="button" class="btn btn-secondary">CONTACTOS</button></a>
                        </li>
                        <li> <a href="/kids"><button type="button" class="btn btn-secondary">KIDS</button></a></li>
                        <li> <a href="/quiz"><button type="button" class="btn btn-secondary">QUIZ</button></a> </li>
                        <li> <a href="/registro"><button type="button" class="btn btn-secondary">REGISTRARSE</button></a>
                        </li>
                        <li> <a href="/login"><button type="button" class="btn btn-secondary">LOGUEARSE</button></a>
                        </li>
                        <li> <a href="/nosotros"><button type="button" class="btn btn-secondary">NOSOTROS</button></a> </li>
                    </ul>
                </div>
    
    
               
            </div>



        </section>
        </nav>


        <section class="menu">
            <div class="menus">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        PRODUCTOS
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/ropa">Ropa</a></li>
                        <li><a class="dropdown-item" href="/merchandising">Merchandising aleatorio</a></li>
                        <li><a class="dropdown-item" href="/juguetes">Juguetitos</a></li>
                    </ul>
                </div>
            </div>

                <div>
                    <ul class="resto">

                        <li> <a href="/novedades"><button type="button" class="btn btn-secondary">NOVEDADES</button></a>
                        </li>
                        <li> <a href="/contacto"><button type="button" class="btn btn-secondary">CONTACTOS</button></a>
                        </li>
                        <li> <a href="/kids"><button type="button" class="btn btn-secondary">KIDS</button></a></li>
                        <li> <a href="/quiz"><button type="button" class="btn btn-secondary">QUIZ</button></a> </li>
                        <li> <a href="/nosotros"><button type="button" class="btn btn-secondary">NOSOTROS</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </header>

    <div class="general">
        <section class="encabezado">
            <div class="titulo">
                <h2>Carrito de compras-productos torre marvel</h2>
                <h4>2 Productos</h4>
            </div>
            <div>
                <button>PROCEDER A LA COMPRA</button>
            </div>
        </section>
        <main>
            <article>
                <div class="article">
                <div class="imagen"><img src="/images/Muñecos/Muñeco-hulk.jpg" alt=""></div>
                <div class="descripcion">
                    <div class="descripcion1">
                        <h2>Hasbro</h2>
                        <p>Figura tanto por cuanto</p>
                        <p>Entregado por Torre Marvel</p>
                    </div>
                    <div class="span">
                        <span>Eliminar producto</span>
                    </div>
                </div>
                </div>
               <div class="precio"> 
                    <div class="subrayado">
                        <p>Precio unitario:</p>
                        <Span>$1000</Span>
                    </div>
                </div> 
            </article>
            <article>
                <div class="article">
                <div class="imagen"><img src="/images/Muñecos/muñeco-CapitanAmerica.jpg" alt=""></div>
                <div class="descripcion">
                    <div class="descripcion1">
                        <h2>Hasbro</h2>
                        <p>Figura tanto por cuanto</p>
                        <p>Entregado por Torre Marvel</p>
                    </div>
                    <div class="span">
                        <span>Eliminar producto</span>
                    </div>
                </div>
                </div>
                <div class="precio">
                    <div class="subrayado">
                        <p>Precio unitario:</p>
                        <Span>$1000</Span>
                    </div>
                </div>
            </article>



            <section class="facturacion">
            <div class="tarjetas">
                <div class="descuento">
                    <h2>Codigo de descuento</h2>
                    <form action=""><input type="text" placeholder="Ingrese codigo"></form>
                </div>
                <div class="img-tarjetas">
                    <img  class="imagen-tarjetas"src="/img/tarjetas.PNG" alt="">
                </div>
            </div>

            <div class="liquidacion">
                <div class="subtotal">
                    <h4>Subtotal</h4>
                    <span>$2000</span>
                </div>
                <div class="total-general">
                    <div class="total">
                        <h1>Total</h1>
                        <span>$2000</span>
                    </div>

                    <div class="cuotas">
                        <a href="">Ver cuotas</a>
                        <h6>IVA incluido</h6>
                    </div>
                </div>
            </div>
            </section>

        </main>
    </div>

</body>

</html>