<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Login</title>
  </head>

  <body class="login">
    <main class="login-main">
      <section class="cont-login">
      <section class="titulo">
        <h2>Login</h2>
      </section>
      <h4 class="ingresa-google">Ingresa con <a href="#">Google</a></h4>
      <section class="iniciar-sesion">
        <form method="" class="inputs">
          <label for="usuario">Usuario</label>
          <input type="text" id="usuario" required />
          <label for="contrasena">Contraseña</label>
          <input type="password" id="contrasena" required />
          <p class="recuperar-cont">
            tus credenciales fueron robadas por hydra?...
            <a href="#">Recuperalas</a>
          </p>
          <button class="btn-ingresa">INGRESA</button>
        </form>
      </section>
      <section class="logo"></section>
    </section>
    <section class="cont-img">
      <img src="/img/torre.png" alt="logo-torre" />
    </section>
    </main>
  </body>
</html>
