<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
</head>
<body class="modificar-producto">
    <h1>Modificar Producto</h1>
    <main class="modificar">
        <form action="" method="GET" enctype="multipart/form-data" class="form"> 
            <div>
                <input type="text" id="nombreProducto" name="nombre-producto" placeholder="Nombre de Producto">
            </div>
            <div>
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen" id="imagenProducto">
            </div>
            <div>
                <input type="number" name="precio" id="precioProducto"
                placeholder="Precio">
                <input type="number" name="stock" id="stockProducto" placeholder="Stock">
                <input type="number" name="id" id="idProducto" placeholder="id">            
            </div>
            <div>
                <label for="descripcion">Descripción del producto</label>
                <textarea name="descripcion" id="descripcion" cols="8" rows="3" placeholder="Escribir..."></textarea>
            </div>
            <div>
                <label for="categoria">Categoría</label>
                <input type="text" name="categoria" id="categoria" placeholder="Añadir categoría">
            </div>
            <button type="submit">GUARDAR</button>
        </form>
    </main>
   
</body>
</html>