<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Registro</title>
  </head>
  <body class="registro-body">
    <h1 class="titulo">Registro</h1>
    <main class="registro">
      <section class="logo-info">
        <a href="/" class="img"
          ><img src="/img/torre.png" alt="logo-torre"
        /></a>
        <div class="info">
          <h4>
            Sumate a nuestra comunidad para poder disfrutar nuestros beneficios
          </h6>
          <div class="p-margin-top">
            <p>Comprar en nuestro sitio</p>
            <p>Enterarte novedades</p>
            <p>Sorteos y Descuentos Exclusivos</p>
            <p>y más...</p>
          </div>
        </div>
      </section>
      <section class="registrarse">
        <h4 class="cuenta-google">Crear Cuenta con <a href="#">Google</a></h4>
        <form action="" method="" class="inputs" enctype="multipart/form-data">
          <div>
            <input type="text" id="usuario" required name="usuario" placeholder="Usuario"/>
            <span class="alerta">* CAMPO REQUERIDO</span>
          </div>

          <div>
            <input type="password" id="contrasena" required name="password" placeholder="Contraseña"/>
            <span class="alerta">* CAMPO REQUERIDO</span>
          </div>

          <div>
            <input type="text" id="nombre" required name="nombre" placeholder="Nombre"/>
            <span class="alerta">* CAMPO REQUERIDO</span>
          </div>

          <div>
            <input type="email" id="email" required name="email" placeholder="Email"/>
            <span class="alerta">* CAMPO REQUERIDO</span>
          </div>

          <button class="btn-registrarse">REGISTRARSE</button>
        </form>
        <h2 class="logueate">
          Si ya tenes Cuenta <br />
          <a href="/login">Logueate</a>
        </h2>
      </section>
    </main>
  </body>
</html>
