<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Registro</title>
  </head>
  <body class="registro-body">
    <main class="registro">
    <section class="logo-info">
      <img src="/img/torre.png" alt="logo-torre" />
        <div class="info">
            <h6>
                Sumate a nuestra comunidad para  poder disfrutar nuestros beneficios
            </h6>
            <p>Comprar en nuestro sitio</p>
            <p>Enterarte novedades</p>
            <p>Sorteos y Descuentos Exclusivos</p>
            <p>y más...</p>
        </div>
    </section>
    <section class="registrarse">
    <h4 class="cuenta-google">Crear Cuenta con <a href="#">Google</a></h4>
    <form method="" class="inputs">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" required>
        <label for="contrasena">Contraseña</label>
        <input type="password" id="contrasena" required>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" required>
        <label for="email">Email</label>
        <input type="email" id="email" required>
        <button class="btn-registrarse">REGISTRARSE</button>
    </form>
    <h2 class="logueate">
        Si ya tenes Cuenta <br>
        <a href="/login">Logueate</a>
    </h2>
  </section>
  </main>
  </body>
</html>
