<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body class="quizz">
        <%- include('./partials/header') %>

            <main class="quizz">
                <div class="titulosobrenosotros">
                    <h2>Un poco sobre nosotros</h2>
                </div>
                <section class="descripcion">
                    <div class="nosotros1"><img src="../img/580b57fbd9996e24bc43c014.png" alt=""></div>

                    <div class="nosotros2">
                        <h3>Somos una subdivision de MARVEL L.A. que trae para usted los mejores productos <br>
                            para brindarle un precio accesible y de la mejor calidad, productos importados, originales
                            <br>
                            y actualizados con las ultimas novedades del mercado pero sobre todo de parte de su amigable
                            y confiable vecino...</h3>
                    </div>
                    <div class="nosotros3"><img src="../img/580b57fbd9996e24bc43c05d.png" alt=""></div>

                </section>
                <div class="nosotros4"><img src="../img/585f9379cb11b227491c3583.png" alt=""></div>



            </main>

            <%- include('./partials/footer') %>

                <%- include('./partials/scripts') %>

    </body>

</html>