@import url("./general.css");

.registro-body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--color-oxfordBlue);
  color: white;
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}
.registro-body .titulo {
  margin-bottom: 1rem;
}
.registro {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--color-oxfordBlue);
  color: white;
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

/* === logo-info === */

.registro .logo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

/* === logo === */

.registro .logo-info .img {
  width: 31%;
  height: 90%;
  margin-left: -1rem;
}
.registro .logo-info img {
  width: 100%;
  height: 100%;
}

/* === info === */

.registro .logo-info .info {
  width: 70%;
  margin-right: 0.5rem;
}

.registro .logo-info .info h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.registro .logo-info .info p {
  font-size: 1.4rem;
  font-weight: 300;
}

.registro .registrarse {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 4rem;
}

/* === cuenta-google === */

.registro .cuenta-google {
  margin: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.registro .cuenta-google a {
  color: var(--color-red);
}

/* === inputs === */

.registro .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
}
.registro .inputs div {
  margin-bottom: 1rem;
}

.registro .inputs label {
  font-size: 1.6rem;
}

.registro .inputs input {
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  padding: 0.2rem;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}

.registro .inputs input:hover {
  outline: none;
}
.registro .inputs input:focus-visible {
  outline: none;
  border: 2px solid var(--color-red);
}
.registro span {
  font-size: 1.2rem;
  margin-top: -1.2rem;
  margin-bottom: 1rem;
  text-align: left;
  color: #c2381a;
  font-weight: 500;
}

/* === btn-registrarse === */

.registro .btn-registrarse {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  border-radius: 16px;
  border: none;
  padding: 0.8rem;
  background-color: var(--color-red);
  color: white;
  margin-bottom: 1rem;
}
.registro .btn-registrarse:hover {
  box-shadow: 0px 0px 10px 4px var(--color-red);
}
.intento img{
  width: 10rem !important;
}

/* === logueate === */

.registro .logueate {
  font-size: 2.2rem;
  font-weight: 400;
  text-align: left;
}

.registro .logueate a {
  color: var(--color-red);
}

/* ======= TABLET ======= */
@media (min-width: 768px) {
  .intento{
    width: 50%;
  }
  .intento img{
    width: 100% !important;
    margin-left: -8rem;

  }
  
  .registro-body {
    background-color: var(--color-independence);
    width: 100vw;
    height: 100vh;
    display: flex;
  }

  .registro {
    margin: auto;
    border-radius: 20px;
    height: 80%;
    max-width: 60vw;
    flex-direction: row;
    justify-content: space-between;
  }

  /* ===== logo-info ===== */

  .registro .logo-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 45%;
    height: 100%;
  }

  /* === logo === */
  .registro .logo-info .img {
    width: 20rem;
    height: 45%;
  }

  /* === info === */
  .registro .logo-info .info {
    width: 100%;
    height: 45%;
    margin-left: 4rem;
    margin-top: 0;
  }

  .registro .logo-info .info h4 {
    margin: 0;
    height: 30%;
    font-size: 1.3rem;
  }

  .registro .logo-info .info .p-margin-top {
    margin-top: 10px;
    height: 67%;
  }

  .registro .logo-info .info .p-margin-top p {
    font-size: 1.2rem;
  }

  /* ===== registrarse ===== */

  .registro .registrarse {
    margin: 0;
    padding: 0;
    width: 56%;
    height: 100%;
    justify-content: space-around;
  }

  /* ===== cuenta-google ===== */
  .registro .cuenta-google {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
    height: 6%;
  }

  /* ===== inputs ===== */
  .registro .inputs {
    width: 65%;
    height: 70%;
    justify-content: space-between;
  }
  .registro .inputs div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20%;
    margin: 0;
  }

  .registro .inputs input {
    width: 100%;
    margin: 0;
    height: 40%;
    padding: 6px;
  }

  /* ===== label ===== */
  .registro .inputs div label {
    font-size: 1.3rem;
    width: 100%;
    text-align: left;
    margin: 0;
  }

  /* ===== span ===== */
  .registro .inputs div span {
    height: 20%;
    margin: 0;
    font-size: 1rem;
  }

  /* ===== boton ===== */
  .registro .inputs .btn-registrarse {
    font-size: 1.5rem;
    margin: 0;
    padding: 3px;
    width: 8rem;
  }

  /* ===== logueate ===== */
  .registro .logueate {
    font-size: 1.4rem;
    height: 17%;
    margin: 0;
  }
}

/* ====== DESKTOP ======*/

@media (min-width: 1024px) {
  .registro {
    max-height: 75vh;
    max-width: 50vw;
  }

  .registro .inputs {
    width: 70%;
  }
  .registro .inputs label {
    width: 100%;
  }
  .registro .inputs div {
    margin-bottom: 0rem;
  }

  .registro .inputs span {
    font-size: 1.3rem;
  }
  .registro .inputs input {
    margin-bottom: 0;
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
  }

  .registro .logo-info .img {
    width: 20rem;
    margin-left: -14rem;
  }
}

@media (min-width: 1300px) {
  .registro .logo-info .img {
    width: 25rem;
    margin-left: -14rem;
  }

  .registro{
    max-height: 65vh;
  }
  .registro .logo-info {
    justify-content: space-evenly;
    
  }
  .registro .logo-info .info {
    height: 24%;
    font-size: 1.6rem;
  }
  .registro .logo-info .info h4 {
    margin: 0;
    font-size: 1.6rem;
  }
  .registro .inputs{
    justify-content: center;
  }
  .registro .inputs input {
    margin: 0;
    border-radius: 1rem;
    width: 100%;
    padding: 0.5rem;
  }
  .registro .inputs div span {
    font-size: 1.3rem;
  }

  .registro .inputs .btn-registrarse {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem;
    width: 8rem;
  }
}
