@media (min-width: 319px){
    .fondo2{
        background-image: url("../images/0e6056e77dadf86ab7f51438f8565313.jpg");
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      
    }
    
    .descripcion{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        font-family: 'Bebas Neue';
    
    }
    .nosotros1{
        width: 30% !important; 
    }
    .nosotros1 img{
        width: 100% !important;
    }
    .nosotros3{
        width: 30% !important; 
    }
    .nosotros3 img{
        width: 100% !important;
    }
    .nosotros2 h3{
        font-family: 'Bebas Neue';
        height: 50%;
        font-size: 2rem;
        text-align: center;
        background-color: red;
        border: blue 4px outset;
    
    }
    .titulosobrenosotros h2{
        text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #919191,
            1px 3px 1px #919191,
            1px 4px 1px #919191,
            1px 5px 1px #919191,
            1px 6px 1px #919191,
            1px 7px 1px #919191,
            1px 8px 1px #919191,
            1px 9px 1px #919191,
            1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
        text-align: center;
        color: black;
        background-color: red;
        border: blue 4px outset;
        font-size: 3rem;
        font-family: 'Bebas Neue';
    
    
    
    
    }
    .nosotros4{
        width: 100%;
    
    }
    .nosotros4 img{
        width: 100%;
        
    }
}
@media (min-width: 768px){
    .descripcion{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        font-family: 'Bebas Neue';
    
    }
    .nosotros1{
        width: 30% !important; 
    }
    .nosotros1 img{
        width: 100% !important;
    }
    .nosotros3{
        width: 30% !important; 
    }
    .nosotros3 img{
        width: 100% !important;
    }
    .nosotros2 h3{
        font-family: 'Bebas Neue';
    
        font-size: 3rem;
        text-align: center;
        background-color: red;
        border: blue 4px outset;
    
    }
    .titulosobrenosotros h2{
        text-align: center;
        color: black;
        background-color: red;
        border: blue 4px outset;
        font-size: 4rem;
        font-family: 'Bebas Neue';
    
    
    
    
    }
    .nosotros4{
        width: 100%;
    
    }
    .nosotros4 img{
        width: 100%;
        
    }
}











@media (min-width: 1024px){.descripcion{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue';

}
.nosotros1{
    width: 30% !important; 
}
.nosotros1 img{
    width: 100% !important;
}
.nosotros3{
    width: 30% !important; 
}
.nosotros3 img{
    width: 100% !important;
}
.nosotros2 h3{
    font-family: 'Bebas Neue';

    font-size: 4rem;
    height: 50%;
    text-align: center;
    background-color: red;
    border: blue 4px outset;

}
.titulosobrenosotros h2{
    text-align: center;
    color: black;
    background-color: red;
    border: blue 4px outset;
    font-size: 6rem;
    font-family: 'Bebas Neue';




}
.nosotros4{
    width: 100%;

}
.nosotros4 img{
    width: 100%;
    
}

}









