<header>

        <nav>

        <section class="busqueda">


            <div class="imagenNavegacion">
                <img src="/img/torre.png" alt="">
            </div>


            <div class="buscador">
              <form action="/productos" method="GET">
                <button type="submit"><i class="fas fa-search"></i></button>

              <input type="text" name="producto" placeholder="   Busca tus productos!">
            </form>
          </div>



            <div class="botonderegistrarse" >
              <DIV class="enlinea">
                <div class="referencias">
                <a class="re" href="/users/registro"> Registrate</a>
                <a class="re" href="/users/login">Ingresá</a>
              </div>
              <div>
                <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a>
              </div>
              </DIV>

            <div class="menuMobile">
                <button class="btn btn-secondary dropdown-toggle menumobile" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        ☰
                </button>
            
                
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                      <li> <a href="/"><button type="button" class="btn btn-secondary">HOME</button></a>
                      </li>  
                      <li> <a href="/novedades"><button type="button" class="btn btn-secondary">NOVEDADES</button></a>
                        </li>
                        <li> <a href="/productos"><button type="button" class="btn btn-secondary">PRODUCTOS</button></a>
                        </li>
                        <li> <a href="/contactos"><button type="button" class="btn btn-secondary">CONTACTOS</button></a>
                        </li>
                        <li class="nenes"> <a href="plays/kids"><button type="button" class="btn btn-secondary ">KIDS</button></a></li>
                        <li> <a href="/plays/quiz"><button type="button" class="btn btn-secondary">QUIZ</button></a> </li>
                        <li> <a href="/registro"><button type="button" class="btn btn-secondary">REGISTRARSE</button></a>
                        </li>
                        <li> <a href="/login"><button type="button" class="btn btn-secondary">LOGUEARSE</button></a>
                        </li>
                        <li> <a href="/nosotros"><button type="button" class="btn btn-secondary">NOSOTROS</button></a> </li>
                       
                    </ul>
                </div>
    
    
               
            </div>



        </section>
        </nav>


        <section class="menu">
          <div>
            <ul class="resto">

                <li> <a href="/"><button type="button" class="btn btn-secondary">HOME</button></a>
                </li>
               
            </ul>
        </div>
            <div class="menus">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        PRODUCTOS
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/productos#ROPA">ROPA</a></li>
                        <li><a class="dropdown-item" href="/productos#MERCHANDISING">MERCHANDISING</a></li>
                        <li><a class="dropdown-item" href="/productos#COMICS">COMICS</a></li>
                        <li><a class="dropdown-item" href="/productos#FIGURAS">FIGURAS</a></li>
                    </ul>
                </div>
            </div>

                <div>
                    <ul class="resto">

                        <li> <a href="/novedades"><button type="button" class="btn btn-secondary">NOVEDADES</button></a>
                        </li>
                        <li> <a href="/contactos"><button type="button" class="btn btn-secondary">CONTACTOS</button></a>
                        </li>
                        <li> <a href="/plays/kids"><button type="button" class="btn btn-secondary">KIDS</button></a></li>
                        <li> <a href="/plays/quiz"><button type="button" class="btn btn-secondary">QUIZ</button></a> </li>
                        <li> <a href="/nosotros"><button type="button" class="btn btn-secondary">NOSOTROS</button></a>
                        
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </header>